html, body {
    margin:0;
    padding:0;
    background-color: #ecf0f1;
}

.acesso.container{
    width: 400px;
}

.acesso .login {
    margin-top: 150px;
}

.acesso .register {
    margin-top: 150px;
}

.acesso .panel{
    padding: 5px;
}

.container {
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display:table-cell !important;
    vertical-align: middle !important;
}

.centering {
    float:none;
    margin:0 auto;
}

.btn {
    padding: 5px !important;
}

.btn-prime {
    padding: 10px !important;
}

input {
    width: 100%;
}

table .action-header {
    text-align: center;
}

.btn-danger {
    color: #fff !important;
}

.btn-dropdown.btn-default,
.btn-dropdown.btn-default:hover {
    border-radius: 0!important;
    border-color: transparent !important;
}

.logo img{
    margin: 0 auto;
}

.h-navbar.navbar-default .navbar-brand {
     color: rgba(255, 255, 255, 1);
 }
.h-navbar.navbar-default {
     font-size: 15px;
     background-color: rgba(38, 56, 84, 1);
     border-width: 0;
     border-radius: 0;
 }
.h-navbar.navbar-default .navbar-nav>li>a {
     color: rgba(255, 255, 255, 1);
     background-color: rgba(38, 56, 84, 1);
 }
.h-navbar.navbar-default .navbar-nav>li>a:hover,
.h-navbar.navbar-default .navbar-nav>li>a:focus {
     color: rgba(255, 255, 255, 1);
     background-color: #C93A59;
 }
.h-navbar.navbar-default .navbar-nav>.active>a,
.h-navbar.navbar-default .navbar-nav>.active>a:hover,
.h-navbar.navbar-default .navbar-nav>.active>a:focus {
     color: rgba(255, 255, 255, 1);
     background-color: #C93A59;
 }
.h-navbar.navbar-default .navbar-toggle {
     border-color: #C93A59;
 }
.h-navbar.navbar-default .navbar-toggle:hover,
.h-navbar.navbar-default .navbar-toggle:focus {
     background-color: #C93A59;
 }
.h-navbar.navbar-default .navbar-toggle .icon-bar {
     background-color: #C93A59;
 }
.h-navbar.navbar-default .navbar-toggle:hover .icon-bar,
.h-navbar.navbar-default .navbar-toggle:focus .icon-bar {
     background-color: #263854;
 }

.h-active-dark-blue.active>a,
.h-active-dark-blue.active>a:hover,
.h-active-dark-blue.active>a:focus {
    background-color: #151E2B !important;
}

.dropdown-menu {
    text-align: center !important;
}

/* PRIVATE LAYOUT */
.private-content.container {
    width: 1000px;
}

/* CUSTOM PRIMEFACES */

.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 5px !important;
}

.ui-messages,
.ui-datatable {
    font-size: 12px;
}

.ui-messages-info-icon,
.ui-messages-warn-icon,
.ui-messages-error-icon {
    display: none !important;
}

.ui-messages ul {
    margin: 0 0px !important;
}

.ui-datatable table {
    table-layout: auto !important;
}