html, body {
    margin:0;
    padding:0
}

.acesso.container{
    width: 400px;
}

.acesso .login {
    margin-top: 300px;
}

.acesso .register {
    margin-top: 150px;
}

.acesso .panel{
    padding: 5px;
}

.container {
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display:table-cell !important;
    vertical-align: middle !important;
}

.centering {
    float:none;
    margin:0 auto;
}

.btn {
    padding: 5px !important;
}

.btn-prime {
    padding: 10px !important;
}

input {
    width: 100%;
}

table .action-header {
    text-align: center;
}

.btn-danger {
    color: #fff !important;
}

/* PRIVATE LAYOUT */
.private-content.container {
    width: 1000px;
}

/* CUSTOM PRIMEFACES */

.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 5px !important;
}

.ui-messages,
.ui-datatable {
    font-size: 12px;
}

.ui-messages-info-icon,
.ui-messages-warn-icon,
.ui-messages-error-icon {
    display: none !important;
}

.ui-messages ul {
    margin: 0 0px !important;
}

.ui-datatable table {
    table-layout: auto !important;
}