html, body {
    margin:0;
    padding:0
}

.acesso.container{
    width: 400px;
}

.acesso .login {
    margin-top: 300px;
}

.acesso .register {
    margin-top: 200px;
}

.acesso .panel{
    padding: 5px;
}

.container {
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height: 100%;
    display:table-cell !important;
    vertical-align: middle !important;
}

.centering {
    float:none;
    margin:0 auto;
}

.btn {
    padding: 5px !important;
}

input {
    width: 100%;
}

/* PRIVATE LAYOUT */
.private-content.container {
    width: 1000px;
}

/* CUSTOM PRIMEFACES */

.ui-selectonemenu-trigger {
    width: 30px !important;
    padding: 5px !important;
}